/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log
/tmp

/test
/spec
/public/assets
/public/uploads
/config/puma.rb
/shared

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
